html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// header settings
header {
  height: 18vh;
  margin-left: 12rem;
  text-align: center;
}

// loader settings
.background {
  background-image: url("./../../images/Stars.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.welcomingText {
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 10px 20px 4px rgba(255, 255, 255, 0.3);
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(11, 11, 63);
  border-radius: 50%;
  border-top:opacity 0.1;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top: 4em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// main index settings
main {
  margin-left: 12rem; /* Same as the width of the sidebar */
  padding: 0px 10px;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.extra {
  flex-basis: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@media screen and (max-width: 1099px) {
  main {
    justify-content: space-around;
  }

  .extra {
    flex-basis: 40%;
  }

  .large {
    font-size: medium;
  }
}

@media screen and (max-width: 964px) {
  .large {
    font-size: small;
  }

  .extra {
    flex-flow: row wrap;
    flex-basis: 100%;
  }

  .info-text {
    max-width: 23rem;
  }

  #contact {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .info-text {
    text-align: center;
    margin: 0 auto;
  }

  .extra {
    flex-flow: column;
  }
}

@media screen and (max-width: 450px) {
  .side-nav {
    display: none;
  }
  main {
    margin: 2rem auto;
  }
}

// button settings
.large {
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 6rem;
  background-color: #0b113c;
}

button {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  letter-spacing: 0.2rem;
  outline: none;
}

button:after {
  margin-left: 50%;
  content: "";
  display: block;
  border-radius: 30px;
  background-image: linear-gradient(#2af1fc, #17b2e6);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4),
    0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4),
    inset 0 1px 2px rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
  outline: none;
}

button:hover {
  outline: none;
  color: #818181;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

button:hover:after {
  outline: none;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 1px rgba(255, 255, 255, 0.4),
    0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 0px 3px rgba(0, 0, 0, 0.4),
    inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 0 15px 5px rgba(0, 255, 255, 0.2);
}

button:active {
  outline: none;
  color: #00ccff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.7);
  background: #333;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(255, 255, 255, 0.4),
    inset 0 3px 3px rgba(0, 0, 0, 0.7), inset 0 0 4px rgba(0, 0, 0, 0.9),
    0 0 0 black;
}

.page {
  display: none;
}
